.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: default;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
}

.card__image:hover {
  transition: all 1s;
  transform: scale(1.1);
  filter: opacity(0.9);
}

.card__title {
  padding: 1rem;
  color: white;
}
.card__description {
  padding: 0 1rem;
  color: white;
}
.card__btn {
  width: 94%;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: 2px solid rgb(80, 80, 233);
  background: transparent;
  color: rgb(80, 80, 233);
  border-radius: 10px;
  transition: background 200ms ease-in, color 200ms ease-in;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.02);
}
.card__btn:hover {
  background: rgb(80, 80, 233);
  color: white;
}

.button__link {
  text-decoration: none;
  color: unset;
  width: 100%;
  cursor: pointer;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 9999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
/*
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
